/* Sidebar.css */
.sidebar {
    width: 100px;
    height: auto;
    background-color: #242526;
    color: white;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar.collapsed {
    width: 50px;
}

.menu-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    width: 70%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #0ce1f0; /* Adjust background color for visibility */
}

.menu-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
   
}

.menu-item {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center; /* Center items horizontally */
    color: #0ce1f0;
}

.menu-item span {
    margin-left: 10px;
    color: aqua;
}